# macOS
.DS_Store

# Swift Package Manager
/.build/
/.swiftpm/

# Xcode build output
/DerivedData/
/.derived/
/.derived-device/
*.xcarchive
*.dSYM
*.dSYM.zip
*.ipa

# Xcode user-specific settings
*.xcuserstate
**/xcuserdata/

# JetBrains IDEs
/.idea/
